
$color-mesa-blue: #005581;
$color-mesa-yellow: #ffd200;
$color-link: $color-mesa-yellow;
$color-link-hover: #4199d8;

$breakpoint-tablet: 768px;

$font-size-4: 40px;
$font-size-3: 34px;
$font-size-2: 28px;
$font-size-1: 24px;

$font-size-4-tablet: 26px;
$font-size-3-tablet: 22px;
$font-size-2-tablet: 18px;
$font-size-1-tablet: 14px;

html * {
  margin: 0;
  padding: 0;
}

html, body {
  color: #ffd200;
  font-family: 'Pacifico', cursive;
  text-shadow: 0 0 10px black;
}

h1 {
  font-size: $font-size-4;
  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-4-tablet;
  }
}

h2 {
  font-size: $font-size-3;
  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-3-tablet;
  }
}

h3 {
  font-size: $font-size-2;
  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-2-tablet;
  }
}

h4, h5, h6, p, a, li {
  font-size: $font-size-1;
  @media (max-width: $breakpoint-tablet) {
    font-size: $font-size-1-tablet;
  }
}

a {
  color: $color-link;
  text-decoration: none;
  transition: 0.25s;
  &:hover {
    color: $color-link-hover;
  }
}

nav {
  width: 100%;
  text-align: center;
  height: 48px;
  margin-bottom: 24px;
  @media (max-width: $breakpoint-tablet) {
    height: 40px;
    margin-bottom: 10px;
  }

  ul {
    height: 28px;
    margin: 10px 0;
    @media (max-width: $breakpoint-tablet) {
      height: 20px;
      margin: 10px 0;
    }
  }

  li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
    @media (max-width: $breakpoint-tablet) {
      padding: 0 4px;
    }
  }

  div {
    display: inline-block;
    width: 100%;
    @media (max-width: $breakpoint-tablet) {
      width: auto;
    }
    height: 100%;
  }

  .left {
    float: left;
  }

  .right {
    float: right;
    @media (max-width: $breakpoint-tablet) {
      float: none;
    }
  }
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
}

#title {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #005581;
  box-shadow: 0 0 4px black;

  h1, p {
    text-align: center;
    font-weight: normal;
  }

  h1 {
    font-size: 7vw;
    margin: -5vw 0 0 0;
  }

  p {
    font-size: 4vw;
    color: white;
    margin: 0 0 -3vw 0;
  }
}
