html {
  text-shadow: 0 0 2px black;
}

#wrap {
  position: absolute;
  width: 100%;
  height: 200%;
}

#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  img {
    display: block;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

#gradient {
  display: block;
  position: absolute;
  left: 0;
  top: 61.8%;
  width: 100%;
  height: 38.2%;
  background-image: linear-gradient(transparent, white);
}

#title {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);

  * {
    color: rgba(255, 255, 255, 0.809);
    text-align: center;
  }

  h1 {
    font-size: 8vh;
  }

  p {
    font-size: 5vh;
  }
}

#content {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  background-color: white;
}

#nav {
  position: absolute;
  width: 100%;
  height: 48px;

  a {
    color: #fff;
    font-size: 20px;

    &:hover {
      color: $link-hover-color;
    }
  }

  ul {
    margin: 10px 0;
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #6699ff;
  }
}
