
$color-a: #005581;
$color-b: #ffd200;

$text-color-a: #fff;
$link-color: #267cb9;
$link-hover-color: #4199d8;

html * {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: $text-color-a;
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  opacity: 0.7;
}

#title {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-a;
  padding: 20px 0;

  h1 {
    text-align: center;
    color: $color-b;
    font-size: 7vw;
  }

  p {
    text-align: center;
    font-size: 4vw;
  }
}

#nav {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
  background-color: $color-a;

  a {
    color: $text-color-a;
    font-size: 24px;

    &:hover {
      color: $link-hover-color;
    }
  }

  ul {
    height: 28px;
    margin: 10px 0;
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #6699ff;
  }
}

