
$color-a: #023867;
$color-b: #fdbb30;

$text-color-a: #fff;
$link-color: $color-b;
$link-hover-color: #4199d8;

html * {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
}

#background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  //opacity: 0.7;
}

#title {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: $color-a;
  padding: 8px 0;
  box-shadow: 0 0 4px black;

  h1 {
    text-align: center;
    color: $color-b;
    font-size: 7vw;
    font-weight: normal;
  }

  p {
    text-align: center;
    font-size: 4vw;
    font-weight: normal;
  }
}

#nav {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;

  a {
    color: $link-color;
    font-size: 2vw;
    text-shadow: 0 0 4px black;

    &:hover {
      color: $link-hover-color;
    }
  }

  ul {
    height: 28px;
    margin: 10px 0;
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: #6699ff;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #title {
    //top: 0;
    //transform: none;

    h1 {
      //font-size: 4em;
    }
    p {
      //font-size: 1em;
    }
  }
}

