
$color-a: #005581;
$color-b: #ffd200;

$text-color-a: #262626;
$link-color: $color-a;
$link-hover-color: #4199d8;

html * {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Roboto', sans-serif;
  color: $text-color-a;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 28px;
}

h4, h5, h6 {
  font-size: 24px;
}

p, a, li {
  font-size: 24px;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: 0.25s;

  &:hover {
    color: $link-hover-color;
  }
}

li {
  margin-bottom: 5px;
}

hr {
  margin-bottom: 20px;
}

#wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

#content {
  width: 640px;
  margin: 0 auto;
}

#nav {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;

  a {
    font-size: 24px;
  }

  ul {
    height: 28px;
    margin: 10px 0;
  }

  #left {
    float: left;
  }

  #right {
    float: right;
  }

  li {
    display: inline;
    list-style-type: none;
    padding: 0 20px;
  }
}

#whitespace {
  width: 100%;
  height: 25vh;
}

